body {
  font-family: Arial;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
}

#kopf_links {
  float: left;
  margin: 5px;
  margin-right: 20px;
}

#kopf_rechts {
  height:130px;
}

p#fussnote {
  font-size: 0.7em;
}

table.geisternetz {
  border-collapse: collapse;
}

th, td {
  border: 1px solid grey;
  padding: 3px;
  padding-left: 8px;
}

th {
  text-align: left;
  background-color: #CCC;
}

tr.ungerade {
  background-color: #EEE;
}

tr.gerade {
  background-color: #FFF;
}

td.nr {
  background-color: lightblue;
}


